<div class="container" *ngIf="allAuthors">
    <p>We have quotes!</p>
    <a (click)="addAuthor()" class="clickables">Add an author</a>
    <table>
        <th>Name: </th>
        <th>Available Actions: </th>
        <tr *ngFor="let author of allAuthors; let i = index">
            <td>{{author.name}}</td>
            <td>
                <button (click)="edit(author._id)" class="clickables">Edit</button> | 
                <button (click)="delete(author._id, i)" class="clickables">Delete</button>
            </td>
        </tr>
    </table>
</div>
